@{
    ViewData["Title"] = "Submit Claim";
	var lecturerId = ViewBag.LecturerId ?? 101;
}

<h2>Submit Claim</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<form asp-action="Submit" method="post">
	<input type="hidden" name="LecturerId" value="@lecturerId" />
    <div class= "mb-2">
        <label>Claim Month</label>
        <input class="form-control" type="text" name="Month" placeholder="e.g. September 2025" />
    </div>

    <div class="mb-2">
        <label>Total Hours</label>
        <input class="form-control" type="number" name="Total Hours" step="0.1" />
    </div>

    <div class="mb-2">
        <label>Hourly Rate</label>
        <input class="form-control" type="number" name="Hourly Rate" step="0.01" />
    </div>

    <div class="mb-2">
        <label>Notes</label>
        <textarea name="Notes" class="form-control" rows="3"></textarea>
    </div>

    <div class=" mb-2">
        <label>Supporting Documents (UI only)</label>
        <input class="form-control" type="file" disabled />
        <small class="text-muted">File uploading disabled in prototype</small>
    </div>

    <button type="submit" class="btn btn-success">Submit Claim</button>
    <a asp-controller="Claim" asp-action="LecturerDashboard" asp-route-lecturerId="@lecturerId" class="btn btn-secondary ms-2">Cancel</a>
</form>
